.container {
  width: 500px;
  display: flex;
  margin: auto;
  width: 50%;
  flex-direction: column;
}

.items {
  width: 300px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: brown;
}

.img{
  width: 100px;
}
